.reviews {
  min-height: 36vw;
  padding-top: 96px;
  padding-bottom: 108px;
  overflow: hidden;
}

.reviews__title {
  margin-bottom: 56px;

  text-align: center;
  font-family: BebasNeueRegular;
  font-size: 30px;
}

.reviews__slider {
  max-width: 100%;
  width: 1280px;
  margin: 0 auto;
}

.reviews__slid {
  display: flex;
  flex-direction: row;

  min-height: 368px;

  border-image-slice: 1;
  border-style: solid;
  border-width: 3px;
  border-image-source: linear-gradient(30deg, #f7aa81, #f25d30 34%, #d7456f 77%);
}

.reviews__slider .slick-list {
  overflow: inherit;
}

.reviews__slid {
  padding: 28px 50px 25px 28px;
}

.reviews__slide-foto {
  display: inline-block;
  min-height: 315px;
  width: 297px;
  margin-right: 6%;
  background: url('../images/reviews-slide-1.jpg') no-repeat center;
}

.reviews__slide-text-wrapper {
  display: inline-block;
  max-width: 450px;
  width: 100%;

  vertical-align: top;
}

.reviews__slide-title {
  margin-top: 22px;
  font-family: Roboto-Bold;
}

.reviews__slide-text {
  margin-top: 26px;
  line-height: 1.71;
}

.reviews__slider-container {
  padding: 0 130px;
}

.reviews__slider-arrow {
  position: relative;
}

.reviews-prev {
  top: -240px;
  left: 20vw;
}

.reviews-next {
  top: -240px;
  right: 20vw;
}

@media(max-width: 1682px ) {
  .reviews-prev {
  top: -240px;
  left: 15vw;
}

.reviews-next {
  top: -240px;
  right: 15vw;
}
}

@media(max-width: 1440px ) {
.reviews-prev {
  top: -240px;
  left: 1vw;
}

.reviews-next {
  top: -240px;
  right: 1vw;
  }
}


