.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 51vw;
}

.services__item-block {
  position: relative;
  width: 25%;
  margin-right: 0.2%;
}

.services__item-block:last-child {
  margin-right: 0;
}

.services__video {
  display: block;
  background: url('../images/video.jpg') top;
  background-size: cover;

}

.services__foto {
  background: url('../images/foto.jpg') no-repeat top;
  background-size: cover;
}

.services__organisation {
  background: url('../images/organisation.jpg') no-repeat top;
  background-size: cover;
}

.services__air {
  background: url('../images/air.jpg') no-repeat top;
  background-size: cover;
}

.services__item-block-1 {
  position: absolute;
  z-index: 10;
  left: -57px;
  top: 180px;
  max-width: 295px;
  width: 100%;

  transform: rotate(-90deg);

  color: #ffffff;
  text-align: right;
  font-size: 30px;
  letter-spacing: 0.8px;
  font-family: BebasNeueRegular;
}

.services__item-block-1-text {
  display: block;
}

.services__item-block-2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 4%;

  color: #ffffff;

  line-height: 1.71;
  opacity: 0;
  transition: opacity 0.3s;

  background-color: rgba(38, 17, 13, 0.5);
  width: 100%;
  min-height: 100%;
}

.services__item-block-2-dark {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.services__item-block-2-dark-frame {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  padding-left: 14%;
  padding-bottom: 13%;

  width: 100%;
  border: solid 3px #ffffff;
}

.services__item-block-2-dark-frame-text {
  max-width: 238px;
  width: 100%;
}

.btn-services {
  position: relative;
}

.services__item-block:hover .services__item-block-2 {
  opacity: 1;
  animation-name: frame;
  animation-duration: 0.8s;
}

.services__btn-wrapper {
  position: relative;
  display: inline-block;
  width: 169px;

  margin-top: 30px;
}

.btn-services {
  position: relative;
  width: 169px;
  padding-top: 13px;
  padding-left: 31px;
  padding-right: 58px;
  height: 40px;

  color: #ffffff;
  line-height: 1;

  background-image: linear-gradient(30deg, #f7aa81, #ef5c53 55%, #d7456f);

  &::after {
    content: '';
    position: absolute;
    right: 18px;
    top: 8px;

    display: block;
    width: 21px;
    height: 22px;

    background: url('../images/btn-arrow-white.svg') no-repeat center;
    background-size: contain;
  }
}

.btn-services-gradient {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 165px;
  height: 36px;

  opacity: 0;
  font-size: 14px;
  color: #000;

  border-radius: 20px;
  padding: 6px 56px 3px 29px;
  background: #fff;
  transition: opacity 0.3s;

  &::after {
    content: '';
    position: absolute;
    right: 16px;
    top: 6px;

    display: block;
    width: 21px;
    height: 22px;

    background: url('../images/btn-arrow-black.svg') no-repeat center;
    background-size: contain;
  }
}

.btn-services-gradient:hover {
  opacity: 1;
}

.btn-services-fix {
  padding-right: 59px;
}

@media (max-width: 1190px) {
  .services__item-block-2-dark-frame-text {
    max-width: 200px;
    font-size: 12px;
  }

  .services__item-block-2-dark-frame {
    padding-left: 10px;
  }
}

@media (max-width: 910px) {
  .services {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .services__item-block {
    //margin: 0 auto;
    min-height: 500px;
    margin-bottom: 15px;
  }
}


@media (max-width: 910px) {
  .services__btn-wrapper {
    width: 130px;
  }

  .btn-services {
    width: 130px;
    padding-left: 16px;

    &::after {
      right: 10px;
    }
  }

  .btn-services-gradient {
    width: 126px;
    padding-left: 14px;
    padding-top: 7px;

    &::after {
      right: 9px;
    }
  }
}

@media (max-width: 810px) {
  .services__item-block {
    max-width: 200px;
    width: 100%;
  }
}

@media (max-width: 404px) {
  .services__item-block {
    width: 49%;
  }

  .services__item-block-2-dark-frame {
    padding-left: 5px;
  }

  .services__item-block-1 {
    left: -37px;
  }

  .services__item-block-1-text {
    font-size: 26px;
  }
}
