.services {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  padding-top: 56px;

  min-height: 100vh;
}

.services__item-block {
  position: relative;
  overflow: hidden;
  width: 25%;
  margin-right: 0.2%;
}

.services__item-block:last-child {
  margin-right: 0;
}

.services__video {
  display: block;
  background-size: 120%;
}

.video-services {
  position: absolute;
  top: -56px;
  left: 0;
  padding-top: 56px;
  width: auto;
  height: 100vh;
  //object-fit: fill;

  background-color: black;
}

.services__foto {
  background: url('../images/foto.jpg') no-repeat top;
  background-size: cover;
}

.services__organisation {
  background: url('../images/organisation.jpg') no-repeat top;
  background-size: cover;
}

.services__air {
  background: url('../images/air.jpg') no-repeat top;
  background-size: cover;
}

.services__item-block-1 {
  position: absolute;
  z-index: 10;
  left: -67px;
  top: 200px;
  max-width: 295px;
  width: 100%;

  transform: rotate(-90deg);

  color: #ffffff;
  text-align: right;
  font-size: 30px;
  letter-spacing: 0.8px;
  font-family: BebasNeueRegular;
}

.services__item-block-1-text {
  display: block;
}

.services__item-block-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 4%;

  color: #ffffff;

  line-height: 1.71;
  opacity: 0;
  transition: opacity 0.3s;

  background-color: rgba(38, 17, 13, 0.5);
  width: 100%;
  min-height: 100%;
}

.services__item-block-2-dark {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.services__item-block-2-dark-frame {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  padding-left: 14%;
  padding-bottom: 13%;

  width: 100%;
  border: solid 3px #ffffff;
}

.services__item-absolute {
  position: absolute;
  bottom: 8%;
  left: 14%;

  color: #fff;
  line-height: 1.71;
}

.services__item-block-2-dark-frame-text {
  max-width: 238px;
  width: 100%;
}

.services__item-block:hover .services__item-block-2 {
  opacity: 1;
  animation-name: frame;
  animation-duration: 0.8s;
}

.services__btn-wrapper {
  position: relative;
  display: inline-block;
  width: 169px;

  margin-top: 30px;
}

.btn-services {
  position: relative;
  width: 169px;
  padding-top: 13px;
  padding-left: 31px;
  padding-right: 58px;
  height: 40px;

  color: #ffffff;
  line-height: 1;

  background-image: linear-gradient(30deg, #f7aa81, #ef5c53 55%, #d7456f);

  &::after {
    content: '';
    position: absolute;
    right: 18px;
    top: 8px;

    display: block;
    width: 21px;
    height: 22px;

    background: url('../images/btn-arrow-white.svg') no-repeat center;
    background-size: contain;
  }
}

.btn-services-gradient {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 165px;
  height: 36px;

  opacity: 0;
  font-size: 14px;
  color: #fff;

  border-radius: 20px;
  padding: 6px 56px 3px 29px;
  background: #f36e5b;
  transition: opacity 0.3s;

  &::after {
    content: '';
    position: absolute;
    right: 16px;
    top: 6px;

    display: block;
    width: 21px;
    height: 22px;

    background: url('../images/btn-arrow-white.svg') no-repeat center;
    background-size: contain;
  }
}

.btn-services-gradient:hover {
  opacity: 1;
}

.btn-services-fix {
  padding-right: 59px;
}


