.us-social {
  position: relative;
  z-index: 2;
  background: #ececec;
}

.us-social__container {
  display: flex;
  flex-direction: row;

  min-height: 25vw;
  padding-bottom: 130px;

  overflow: visible;
}

.us-social__container-1 {
  width: 35%;
  padding-top: 90px;
}

.us-social__container-1-title {
  font-family: BebasNeueRegular;
  font-size: 30px;
  line-height: 0.8;
  letter-spacing: 0.8px;
}

.us-social__container-1-text {
  max-width: 375px;
  width: 100%;

  margin-top: 40px;
  font-size: 14px;
  line-height: 1.71;
}

.us-social__container-2 {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: center;
  width: 70%;
  min-height: 100%;
}

.us-social__slider {
  position: absolute;
  z-index: 2;
  top: -47px;
  display: block;
  width: 57%;
  margin: 0 auto;
}

.us-social__slid {
  width: 100%;
  padding: 0 50px 0 50px;
}

.us-social__slid img {
  display: block;
  width: 100%;
}

.us-social-btn {
  display: inline-block;
  font-size: 14px;

  color: #010101;
  padding: 14px 19px 14px 29px;
  border: 2px solid #d7456f;
  border-radius: 25px;

  color: #ffffff;
  border: none;
  background-image: linear-gradient(30deg, #f7aa81, #ef5c53 55%, #d7456f);
}

.btn-wrapper__us-social {
  position: relative;
  display: inline-block;
  margin-top: 41px;
}

.us-social__btn-gradient {
  position: absolute;
  right: 2px;
  top: 2px;
  opacity: 0;
  font-size: 14px;
  color: #000;

  border-radius: 20px;
  padding: 12px 17px 12px 27px;
  background: #fff;
  transition: opacity 0.3s;
}

.us-social__btn-gradient:hover {
  opacity: 1;
}

.slider-prev {
  position: absolute;
  top: 220px;
  left: 120px;
  height: 105px;
  width: 32px;

  transform: rotate(180deg);
  opacity: 0.2;
  cursor: pointer;

  background: url(../images/slider-arrow.png) no-repeat center;
  border: none;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}

.slider-next {
  position: absolute;
  top: 220px;
  right: 100px;
  height: 105px;
  width: 32px;
  opacity: 0.2;

  background: url(../images/slider-arrow.png) no-repeat center;
  border: none;
  cursor: pointer;

  transition: opacity 0.3s;
  &:hover {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .us-social__slider {
    width: 70%;
  }

  .us-social__slider-arrows {
    z-index: 40;
  }
}

@media (max-width: 952px) {
  .us-social__slider {
    width: 450px;
  }

  .us-social__slider-arrows {
    z-index: 40;
  }
}

@media (max-width: 820px) {
  .us-social__container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .us-social__slider {
    position: relative;
  }

  .us-social__container-1 {
    padding-top: 0;
    max-width: 400px;
    width: 100%;
  }

  .slider-next {
    right: 0;
  }

  .slider-prev {
    left: 0;
  }
}



@media (max-width: 532px) {
  .us-social__slider-arrows {
    display: none;
  }

  .us-social__slider {
    width: 140%;
  }
}

@media (max-width: 420px) {
  .us-social__container-2 {
    display: none;
  }

  .us-social__container-1 {
    padding-top: 40px;
  }

  .us-social__container {
    padding-bottom: 40px;
  }
}
